--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
azure-storage-blob
openai
requests

torch
torchvision
ultralytics
opencv-python-headless
numpy
pillow
tqdm
rapidfuzz
scikit-learn
scipy